/* ________________________________________ Container */

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ________________________________________ Modal */

.modal {
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.42);;
    padding: 60px 0;
    overflow: auto;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.modal-content {
    width: 754px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: 5px auto;
    padding: 53px 97px;
    position: relative;
}

/* ________________________________________ Open */

.open-button-wrapper {
    display: block;
    text-align: center;
    padding-top: 300px;
}

.open-button {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    margin: 18px;
    height: 62px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    text-shadow: 0 1px 0 #312C2C;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .open-button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .open-button.gradient {
    background-image: linear-gradient(to right, #1A92C3, #00FFD0, #00FF84, #27D07F);
    box-shadow: 0 4px 15px 0 rgba(34, 189, 183, 0.75);
  }

/* ________________________________________ Form */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form__title {
    font-weight: 800;
    font-size: 35px;
    line-height: 34px;
    color: #0C1014;
    margin-bottom: 35px;
}

.form__the-first-part {
    margin-bottom: 32px;
}

.form__the-second-part {
    margin-bottom: 50px;
}

/* ________________________________________ Personal__info | Select__file__wrapper | Choose__logo */

.personal-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 31px;
}

.select-file-wrapper {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #6E6E72;
    margin: 0 auto;
    position: relative;
}

.select-file__btn-reset {
    width: 36px;
    height: 36px;
    float: right;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 3px 0 0;
    cursor: pointer;

    position: absolute;
    top: 40px;
    right: 0;
    z-index: 1;
}
.select-file__btn-reset:hover {
    border: 1px solid #6A6E72;
}

.select-file-wrapper > p > span {
    color: #D90000;
}

.select-file-wrapper > p {
  margin-bottom: 13px;
}

.choose-logo-layer-1 {
    margin: 0 auto;
    height: 300px;
    width: 100px;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: underline;
    overflow: hidden;

    position: absolute;
    top: -40px;
    right: 0;
    left: 0;
    z-index: 1;
}

.choose-logo-layer-2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose-logo-layer-2 > img {
    margin-bottom: 7px;
}

.choose-logo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50px;
    z-index: 1 ;
    cursor: pointer;
}

/* ________________________________________ Input */

.input-container {
    position: relative;
    margin-bottom: 32px;
    color: #0C1014;
}

.mb-0 {
    margin-bottom: 0;
}

.input {
    width: 100%;
    height: 56px;
    font-size: 16px;
    border: 1px solid #D6DADE;
    background-color: #FFFFFF;
    border-radius: 2px;
    padding: 30px 16px;
}
 
.input-with-icon ~ img {
  position: absolute;
  top: 19px;
  right: 16px;
  z-index: 1;
}

/* ________________________________________ Placeholder */

.placeholder {
    line-height: 8px;
}

.placeholder > span {
    color: #D90000;
}

/* ________________________________________ Placeholder-effect | Label-effect */
  
  .placeholder-effect, .select-js-placeholder-effect {
    color: #6A6E72;
    pointer-events: none;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    
    position: absolute;
    top: 25px;
    left: 18px;
    z-index: 1;
  }
  
  .label-effect:focus ~ .placeholder,
  .label-effect:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-15px) scale(0.75);
  }

  .select-js-placeholder-effect {
    position: absolute;
    top: 25px;
    left: 18px;
    z-index: 1;
  }

  .select-js-label-effect:focus ~ .placeholder,
  .select-js-label-effect:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-14px) scale(0.75);
  }

/* ________________________________________ Form buttons */

.form-button {
    cursor: pointer;
}

.submit-button {
    width: 100%;
    height: 48px;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #E5266E;
    border-radius: 4px;
    margin-bottom: 15px;
}
.submit-button:hover {
    background-color: #67134c;
}

.reset-button {
    width: auto;
    height: auto;
    font-size: 16px;
    line-height: 24px;
    color: #0848C0;
    background: none;
    margin: 0 auto;
}

/* ________________________________________ Select JS */

.dropdown {
	position: relative;
}

.dropdown__button {
	position: relative;
	display: block;
    width: 100%;
    height: 60px;
    font-size: 16px;
    text-align: left;
    border: 1px solid #D6DADE;
    background-color: #FFFFFF;
    border-radius: 2px;
    padding: 0 16px;
}

.dropdown__button::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);

	/* Рисуем треугольник */
    width: 0;
    height: 0;
    border-width: 10.4px 6px 0 6px;
    border-color: #79849B transparent transparent transparent;
	border-style: solid;

	/* Снимаем клик с треугольника */
	pointer-events: none;
}

.dropdown__list {
	display: none;

	position: absolute;
	left: 0;
	top: 52px;

	margin: 0;
	padding: 0;
	list-style-type: none;

	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
	overflow: hidden;

	border-radius: 6px;
	width: 100%;
	z-index: 1;
}

.dropdown__list--visible {
	display: block;
}

.dropdown__list-item {
	margin: 0;
	padding: 0;
	border: 1px solid #7E9BBD;
	border-bottom: 0px;
	padding: 13px 20px;
	cursor: pointer;
}

.dropdown__list-item:first-child {
	border-radius: 6px 6px 0 0;
}

.dropdown__list-item:last-child {
	border-radius: 0 0 6px 6px;
	border-bottom: 1px solid #7E9BBD;
}

.dropdown__list-item:hover {
	background: rgba(176, 198, 225, 0.26);
}

.dropdown__input-hidden {
	display: none;
}


/* ________________________________________ Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/*________________________________________ Mobile Version  */

@media screen and (max-width: 800px) {
    .modal-content {
        width: 80%; 
        height: auto;
        background-color: #FFFFFF;
        border-radius: 12px;
        margin: 5px auto;
        padding: 53px 97px;
        position: relative;
    }
}

@media screen and (max-width: 750px) {
    .modal-content {
        padding: 53px 50px;
    }

    .form__title {
        font-size: 30px;
    }

    .personal-info {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 540px) {
    .modal-content {
        padding: 20px 20px;
    }

    .form__title {
        font-size: 20px;
    }

    .form__the-second-part {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 330px) {

    .form__title {
        font-size: 15px;
    }

    .submit-button {
        font-size: 12px;
    }
}